# Node / frontend
node_modules/
dist/
.vscode/
.env
coverage/

# .NET / backend
.vs/
bin/
obj/
*.user
*.suo
*.db
*.db-shm
*.db-wal
Migrations/
secrets.json

# Cobertura de testes
backend/**/TestResults/
backend/**/CoverageReport/

# HTMLs gerados pelo ReportGenerator
backend/**/*.html
backend/**/*.svg
backend/**/*.css

# Arquivos de build
backend/**/bin/
backend/**/obj/

# Geral
.DS_Store
